/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
	
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ {{ SHARED }} ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#page_container{
	position: relative;
	background: #F2C14E;
	box-shadow: -2px 5px 20px 20px #0301004f;
    width: 600px;
	height: 765px;
	padding: 10px;
    margin-top: 125px;
}

#logo_main{
	position: absolute;
	width: 600px;
	top: -98px;
	left: -2px;
}

.info_box{
    padding: 10px 20px;
	line-height: 25px;
}
.info_box .title {
	font-size: 25px;
	margin: 0;
}
.info_box .additional_info {
	font-size: 18px;
	margin: 0;
}

.fa-question-circle:before {
	font-size: x-large;
	margin: 0 15px;
}

.pointer{
	cursor: pointer;
}

.section{
    height: 100%;
}

.bold {
	font-weight: bold;
}

.divider{
	border-bottom: 4px #f1e08c ridge;
    width: 540px;
    margin: 0 auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ {{ PARTICIPANTS }} ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#participant_inputs{
	margin: 10px 19px 17px 17px;
}

#participant_inputs input{
	text-align: center;
	border-radius: 0;
	background: #f8d37a;
	border-color: #b3cd4a;
}

#participant_inputs #input_name{
	width: 55%;
}

#participant_inputs .input-group-append{
	width: 7%;
}

#participant_inputs button{
	border-radius: 0;
	background: #f8d37a;
	border-color: #b3cd4a;
}

#participant_list{
	max-height: 580px;
	height: 580px;
	overflow: auto;
}


#participant_list table{
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

#participant_list table td{
	padding: 5px;
	border: 0;
}

#participant_list table td .fa-trash:before{
	font-size: 20px !important;
}

#participant_list table thead{
	font-size: 20px;
    font-weight: bold;
}

#participant_list table tbody{
	font-size: 18px;
}

#participant_list table tbody tr:hover{
	background: #f4cc6e;
}

#participant_summary label{
	font-weight: bold;
}

#participant_list::-webkit-scrollbar-track
{
	background-color: #dcdddf;
	height: 80%;
}
#participant_list::-webkit-scrollbar
{
	width: 10px;
	background-color: #dcdddf;
}
#participant_list::-webkit-scrollbar-thumb
{
	background-color: #dcdddf;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #a2c6cb));
}

}