*{
	box-sizing: border-box;
	color:#39798d;
}

body{
	background: #5eb5cf;
	text-align: start;
	font-family: 'Assistant';
}

body.rtl{
	direction: rtl;
}

body.ltr{
	direction: ltr;
}

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}
